body {
  padding-top: 70px;
  background: linear-gradient(to top left, #2a3757 40%, #39ada0 90%) no-repeat
    center fixed;
  color: white;
}
.jumbotron {
  background-image: url(/img/jumbotron.jpg);
  background-size: cover;
  color: #a9ffee;
  font-family: "Acme", sans-serif;
}
.navbar-brand {
  font-weight: bold;
  font-family: "Lobster", cursive;
  font-size: 1.8em;
}
.navbar-inverse {
  background-color: #39ada0;
  color: white;
  border: transparent;
}
a {
  color: white !important;
}
.navbar {
  padding-top: 5px;
  border-radius: 5px;
}
.carousel {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
  margin-top: 20px;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #39ada0;
}
.active {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 5px;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.form-container {
  border: 0px solid #fff;
  padding: 50px 60px;
  margin-top: 15vh;
  -webkit-box-shadow: 3px 5px 35px 10px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 5px 35px 10px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 5px 35px 10px rgba(0, 0, 0, 0.54);
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;

}
.footer-basic-centered {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family:sans-serif;
  padding: 45px; }
  .footer-basic-centered .footer-company-motto {
    color: #ffffff;
    font-size: 24px;
    margin: 0; }
  .footer-basic-centered .footer-company-name {
    color: #ffffff;
    font-size: 14px;
    margin: 0; }
  .footer-basic-centered .footer-links {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 35px 0 23px;
    margin: 0; }
    .footer-basic-centered .footer-links .links {
      padding-left: 30px; }
  .footer-basic-centered .footer-links a {
    display: inline-block;
    text-decoration: none;
    color: inherit; }